<div
  class="flex flex-col items-center justify-center w-full h-full overflow-hidden relative mx-3 mb-10"
>
  <!-- Fo tartalom -->
  <div
    class="relative z-10 flex flex-col items-center justify-center px-4 mt-2"
  >
    <!-- Logo és cím -->
    <div class="logo-container">
      <div class="w-32 h-32 md:w-40 md:h-40 relative">
        <img
          src="images/logo.png"
          alt="MoneyManager"
          class="w-full h-full object-contain drop-shadow-2xl animate-slide-down"
        />
      </div>
    </div>

    <!--Cím és a rövid leiras -->
    <div class="text-center space-y-8">
      <h1
        class="text-xl md:text-5xl md:text-7xl font-bold text-primary tracking-tight mb-8"
      >
        Money<span class="text-accent-gradient">Manager</span>
      </h1>

      <p class="text-xl md:text-2xl text-secondary max-w-2xl px-4">
        Üdvözöllek a
        <span class="text-accent font-semibold">MoneyManager</span>
        oldalon!
      </p>

      <p class="text-base md:text-lg text-muted max-w-xl px-4 -mt-8">
        Kezeld pénzügyeidet okosan, egyszerűen és hatékonyan
      </p>
    </div>

    <!-- Buttonok, külön classokkal -->
    <div class="flex flex-col sm:flex-row gap-4 mt-8 animate-slide-up">
      <button class="btn-primary hover:ring-1 hover:ring-red-300">
        Regisztráció
      </button>
      <button class="btn-primary hover:ring-1 hover:ring-red-500">
        Bejelentkezés
      </button>
    </div>

    <!-- Alsó 'kártyák' amik a fo funckiokat mutatjak -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-12 max-w-4xl border-1 border-black/10"
    >
      @for (karty of kartyak; track karty.title) {
      <div
        class="feature-card flex flex-col items-center justify-center"
        [routerLink]="karty.link"
      >
        <div class="text-3xl mb-1">
          <img
            src="images/{{ karty.icon }}"
            alt="karty.title"
            class="w-20 h-20"
          />
        </div>
        <h3 class="font-semibold text-lg h3-text mb-1">{{ karty.title }}</h3>
        <p class="text-sm text-muted">{{ karty.description }}</p>
      </div>
      }
    </div>
  </div>
</div>
